@charset "UTF-8";

/* 回答はここに書いてね */
.content {
	width: 100%;
	margin: auto;
	table-layout: fixed;
	text-align: center;
}

.line_top {
	vertical-align: middle;
}

.line_top :first-child {
	padding: 10px;
	background-color: #24a;
	color: #fff;
}

 .line_top:nth-child(even){
	background-color: #ECF1F2;
}

.content tbody > .line_top:nth-last-child(1) {
    border-top: dashed #000 2px;
}

/*奇数が灰色になるようにする。
要素のnth-childが指定になっているためテーブルが増えた際に管理が大変
*/

.content th {
	background-color: #24a;
	color: #fff;
	border: 1px solid #dedede;
	padding: 10px;
	vertical-align: middle;
	line-height: 26px;
	font-size: 18px;
}

.content td {
	padding: 10px;
	border: 1px solid #dedede;
	vertical-align: middle;
	line-height: 22px;
	font-size: 16px;
}



/* 回答はここに書いてね */
