@charset "UTF-8";

/* 回答はここに書いてね */

.top_box {
	background-color: #e6f2ff;
	width: 90px;
	padding: 10px;
	text-align: center;
}

.q6__box div {
	text-align: center;
/*	display: flex;
    justify-content: center;
    align-items: center;*/
}

.q6__box:first-child {
	text-align: center;
}

.top_box_align {
	display: inline-block;
}

.top_box_margin {
	margin: 0 auto;
}

.middle_box {
	background-color: #fff;
	padding: 10px;
}

.q6--around {
	display: table;
}

.q6--around div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.table_box {
	display: inline-block;
}

.q6middle_box {
	display: flex;
  justify-content: center;
  align-items: center;
}

.is-stable {
	position: relative;
}

.is-stable .q6__box__inner {
  margin: auto;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
  position: absolute;
  line-height: 10px !important; /*!importantは最優先に適用させるキーワード 多様しないように*/
}

.is-flexible {
  position: relative;
}

.is-flexible p {
  top: 50%;
  left: 50%;
  position: absolute;
	transform: translate(-50%, -50%);
}

/* 回答はここに書いてね */
