@charset "UTF-8";

/* 回答はここに書いてね */
.small {
	font-size: 16px;
	border-radius: 3px;
	line-height: 26px;
	padding: 0 15px;
	display: inline-block;
  margin-left: 10px;
}

.small:hover {
	opacity: 0.7;
}

.middle {
	font-size: 20px;
	border-radius:5px;
	line-height: 32px;
	padding: 0 20px;
	display: inline-block;
  margin-left: 10px;
}

.middle:hover {
	opacity: 0.7;
}

.large {
	font-size: 24px;
	border-radius:7px;
	line-height: 38px;
	padding: 0 25px;
	display: inline-block;
  margin-left: 10px;
}

.lage {
	opacity: 0.7;
}

.q8--btn {
	display: inline-block;
	width: 100%;
}

.q8--btn div {
	cursor: pointer;
}

.q8--btn div:nth-child(2) {
  margin-left: 0;
}

/*.q8--btn div:nth-child(2) {
	background-color: #00BCD4;
	color: #fff;
}

.q8--btn div:nth-child(3) {
	background-color: #FF498C;
	color: #fff;
	margin: 0 10px;
}

.q8--btn div:nth-child(4) {
	background-color: #E6E6E6;
	color: #fff;
	margin-right: 10px;
}

.q8--btn div:nth-child(5) {
	background-color: #fff;
	color: #222;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
}*/

.blue--btn {
  color: #fff;
  background-color: #00BCD4;
}

.pink--btn {
  color: #fff;
  background-color: #FF498C;
}

.gray--btn {
  color: #fff;
  background-color: #E6E6E6;

}

.white--btn {
  color: #000;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
}

.left_form {
	float: left;
	width: 300px;
}

.right_form {
	float: right;
	width: 380px;
}

.right_form input {
	width: 100%;
}

.form_box {
	background-color: #ECF1F4;
	padding: 20px;
	width: 700px;
	margin: 0 auto;
}

.form_title {
	position: relative;
	text-align: left;
	left: 0;
	margin-bottom: 20px;
}

.form_title::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}

.input_form {
  margin-bottom: 20px;
}

.input_form_title div {
	width: 100px;
	text-align: right;
  line-height: 25px;
	float: left;
	margin-right: 0;
}

/*.name div {
	width: 80px;
	text-align: right;
	float: left;
	margin-right: 0;
}*/

.name span {
	color: red;
}

.address span {
	color: red;
}

.adults_check_box {
	float: right;
}

.title_text {
	position: relative;
	display: inline-block;
	font-size: 24px;
  font-weight: bold;
	background-color: #ECF1F4;
}

.input_form li {
	margin-top: 20px;
}

.input_form li:first-child {
	margin-top: 0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.radio_input {
	display: none;
}

.radio_input + label {
	padding-left: 20px;
	position: relative;
}

.radio_input + label::before {
	content:"";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
  margin-top: -8px;
	width: 14px;
	height: 14px;
	border:	1px solid #ccc;
	border-radius: 50%;
	background-color: #fff;
}

.radio_input:checked + label {
	color: #009a9a;
}

.radio_input:checked + label::after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 11px;
	height: 11px;
	background: #009a9a;
	border-radius: 50%;
}

.radio_label {
  padding: 3px 3px 3px 20px;
}

.right_form_all {
	border: 0;
  font-size: 12px;
  line-height: 12px;
	float: right;
	padding: 5px;
	width: 180px;
  box-sizing: border-box;
}

.right_form_all:focus {
	box-shadow: 0 0 7px #00BCD4;
	outline: 0;
}

.from {
  position: relative;
}

.from:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: -90px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  transform: rotate(45deg);
  pointer-events: none;
}

.from_box {
  position: relative;
  padding: 5px;
  left: 100%;
  border-radius: 2px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-appearance: none;
-moz-appearance: none;
  appearance: none;
}

#radio_input1 + label {
	margin-left: 20px;
}

.adults_check_box {
	display: none;
}

.check_text {
	padding-left: 24px;
	position:relative;
}

.check_text::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: -9px;
    background-color: #fff;
    border: 1px solid #ccc;
    content: '';
}

.adults_check_box:checked + .check_text {
	color: #009a9a;
}

.adults_check_box:checked + .check_text::after {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 5px;
	width: 7px;
	height: 14px;
	transform: rotate(40deg);
	border-bottom: 3px solid #009a9a;
	border-right: 3px solid #009a9a;
}

.adults_check label {
	float: right;
}

.right_form textarea {
	width: 100%;
	height: 203px;
  border: 0;
  border-radius: 3px;
  resize: none;
  outline: none;
  padding: 10px;
  font-size: 12px;
  box-sizing: border-box;
}

.right_form textarea:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.input_form_submit {
  text-align: right;
}

.submit {
  cursor: pointer;
  padding: 0 10px;
  background-color: #00BCD4;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  line-height: 26px;
}

/* 回答はここに書いてね */
